.image-wrapper {
    position: relative;
    width: auto;
}

.image-skeleton {
    width: 100%;
    height: 100%;
    background: #e2e2e2;
    border-radius: 8px;

    animation: pulse 1.5s ease-in-out infinite;
}

.hidden-img {
    opacity: 0;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.6s ease;
}

@keyframes pulse {
    0% {
        opacity: 0.65;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.65;
    }
}