.movie-card {
    position: relative;    
    filter: drop-shadow(.5rem .5rem 0.7rem #000);
    padding-bottom: 10px;
    min-height: 330px;
    min-width: 170px;

    &:hover,
    &:focus-within {
        box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.7);
        border-bottom-left-radius: 5px; 
        border-bottom-right-radius: 5px;
        scale: 1.01;
    }

    img {
        height: 250px;
        background: #000;
    }

    p {
        color: #fff;
        font-weight: bold;
    }
}